<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product-form.css">

    </head>

    <body>
        <%- include('../includes/navbar.ejs') %>



            <div class="container">
                <form action="/admin/add-product" method="post" class="myform-control">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" class="form-control" id="price" name="price">
                    </div>

                    <div class="mb-3">
                      <label for="quantity" class="form-label">Quantity</label>
                      <input type="number" class="form-control" id="quantity" name="quantity">
                    </div>

                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">Image URL</label>
                      <input type="text" class="form-control" id="imageUrl" name="imageUrl">
                    </div>

                    <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                      <input type="text" class="form-control" id="description" name="description">
                    </div>
                    
                    <button type="submit" class="btn my-btn">Add</button>
                  </form>
            </div>
                

            

<%- include('../includes/end.ejs') %>