<header class="header">
    <ul class="header_list">
        <li class="header_list-item"><a class="<%= path==='/' ? 'active' : '' %>" href="/">Home</a></li>
        <li class="header_list-item"><a class="<%= path==='/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Product</a></li>
    </ul>

</header>