<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>


    <main>
        <h1>This is checkout page</h1>

    </main>

<%- include('../includes/end.ejs') %>